---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<b>Neural Data Analysis Lectures - Columbia University</b> (Oct 2022, Oct 2023)
<br>
Gave two lectures on "Spike sorting: from basics to bleeding-edge" for Liam Paninski's Neural Data Analysis PhD-level class, in 2022 and 2023.
<br><br>

<b>Teaching Assistant - Columbia University, Statistics Department</b> (September 2019 - June 2024)
<br>
I have been a teaching assistant for the following Statistics courses at Columbia:

<ul>
  <li>(Fall 2023, Spring 2024) Calculus-based Intro to Statistics (UN1201)</li>
  <li>(Spring 2023) Statistical Machine Learning (GU4241)</li>
  <li>(Fall 2022) Linear Regression Models (GR5205)</li>
  <li>(Spring 2022) Introduction to Probability and Statistics (GU4001)</li>
  <li>(Fall 2021) Probability and Statistics for Data Science (W5701)</li>
  <li>(Spring 2021) Introduction to Statistics (UN1101)</li>
  <li>(Fall 2020) Advanced Machine Learning (GR5242)</li>
  <li>(Fall 2019, Spring 2020) Computational Statistics and Introduction to Data Science (GU5206)</li>
</ul>

<b>Teaching Assistant - Lyc&eacute;e Condorcet, Paris</b> (Sept 2015 - March 2016)
<br>
Gave mathematics lessons for students preparing the exam for French engineering schools.
