{% capture bold_name %}<strong>{{ site.author.name }}</strong>{% endcapture %}
{% assign authors = post.authors | replace: site.author.name, bold_name %}
<p class="pub"><strong>{{ post.title }}</strong><br>
{{ authors }}<br>
<em>{{ post.venue }}, {{ post.date | date: "%Y" }}</em><br>
{% if post.paperurl %}<a href="{{ post.paperurl }}" class="pub-link pub-link--paper">Paper</a> {% endif %}{% if post.codeurl %}<a href="{{ post.codeurl }}" class="pub-link pub-link--code">Code</a> {% endif %}{% if post.videourl %}<a href="{{ post.videourl }}" class="pub-link pub-link--video">Video</a> {% endif %}{% if post.slidesurl %}<a href="{{ post.slidesurl }}" class="pub-link pub-link--slides">Slides</a>{% endif %}</p>
